body {
    color: #ffffff;
}
.color-fondo {
    background-color: black;
}
.inicio {
    width: 100
}
.titulo1 {
    margin-top: 50px;
    margin-bottom: 25px;
}
.linea {
    margin-top: 25px;
    margin-bottom: 25px;
}
.columnas {
    text-align: left;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 60px;
}
.card {
    margin: 10px;
    padding: 0px 0px;
}
p.card-text {
    font-size: 16px;
    font-weight: normal;
 }
div.card-body {
    padding-top: 22.21px;
    padding-left: 15.19px;
    padding-right: 15.19px;
}

.destacados {
    padding-bottom: 70px;
}
footer {
    margin-top: 30px;
    border: 50px 50px;
}
.texto-footer {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}
.logos {
    display: inline-block;
    
}
.i {
    margin: 150px 150px;
}
